<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>SignUp</title>
</head>
<body>
    <div class="col-sm-5">
        <div class="page-header">
            <h1>ユーザ登録画面</h1>
        </div>
        <form method="post" th:action="@{/signup}" th:object="${signupForm}">
            <table class="table table-bordered table-hover">
                <!-- ユーザ名の入力エリア -->
                <tr>
                    <th class="active col-sm-3">ユーザ名</th>
                    <td>
                        <div class="form-group"
                            th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{userName}" />
                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('userName')}"
                            	th:errors="*{userName}">
                            	userName error
                            </span>
                        </div>
                    </td>
                </tr>
                <!-- パスワードの入力エリア -->
                <tr>
                    <th class="active">パスワード</th>
                    <td>
                        <div class="form-group"
                            th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{password}" />
                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('password')}"
                            	th:errors="*{password}">
                            	password error
                            </span>
                        </div>
                    </td>
                </tr>
                <!-- メールアドレスの入力エリア -->
                <tr>
                    <th class="active">メールアドレス</th>
                    <td>
                        <div class="form-group"
                            th:classappend="${#fields.hasErrors('mailAddress')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{mailAddress}" />
                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('mailAddress')}"
                            	th:errors="*{mailAddress}">
                            	mailAddress error
                            </span>
                        </div>
                    </td>
                </tr>
            </table>

            <!-- ユーザー登録ボタン -->
            <button class="btn btn-primary" type="submit" name="resister">ユーザー登録</button>
            <!-- ユーザー登録キャンセルボタン -->
            <button class="btn btn-primary" type="submit" name="cansel">キャンセル</button>
        </form>
        <!-- 結果表示用 -->
        <label class="text-info" th:text="${result}">結果表示</label><br/>
    </div>
</body>
</html>