<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- コンテンツ部分 -->
    <div th:fragment="user_contents">
        <div class="page-header">
            <h1>ユーザ一覧</h1>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th class="info col-sm-2">ユーザ名</th>
                <th class="info col-sm-2">メールアドレス</th>
                <th class="info col-sm-2"></th>
            </tr>
            <tr th:each="user : ${user}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.mailAddress}"></td>
                <td>
                    <!-- ユーザ詳細画面へのリンク -->
                    <a class="btn btn-primary" th:href="@{'/userDetail'}">
                        詳細
                    </a>
                </td>
            </tr>
        </table>
        <!-- 更新・削除処理の結果表示用 -->
        <label class="text-info" th:text="${result}">結果表示</label><br/>
    </div>
</body>
</html>