body {
  padding-top: 20px;
}

.sidebar {
  position: fixed;
  display: block;
  top: 50px;
  bottom: 0;
  background-color: #F4F5F7;
}

.main {
  padding-top: 50px;
  padding-left: 20px;
  display: block;
  top: 0px;
  bottom: 0;
  white-space: nowrap;
}

.page-header {
  margin-top: 0px;
}
