<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <div th:fragment="sensorDataDetail_contents">
        <div class="row">
            <div class="col-sm-5">
                <div class="page-header">
                    <h1>センサデータ詳細</h1>
                </div>
                <form method="post" th:action="@{/sensorDataDetail}" th:object="${sensorDataUpdateForm}">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <!-- ID（入力不可） -->
                            <th class="active col-sm-2">ID</th>
                            <td class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                        th:field="*{id}"
                                        readonly="readonly" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!-- センサタイプ -->
                            <th class="active">センサタイプ</th>
                            <td>
                                <div class="form-group"
                                    th:classappend="${#fields.hasErrors('sensorType')} ? 'has-error'">
                                    <input type="text" class="form-control"
                                        th:field="*{sensorType}" />
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('sensorType')}"
                                        th:errors="*{sensorType}">
                                        sensorType error
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!-- センサデータ -->
                            <th class="active col-sm-2">センサデータ</th>
 							<td>
                                <div class="form-group"
                                    th:classappend="${#fields.hasErrors('sensorValue')} ? 'has-error'">
                                    <input type="text" class="form-control"
                                        th:field="*{sensorValue}" />
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('sensorValue')}"
                                        th:errors="*{sensorValue}">
                                        sensorValue error
                                    </span>
                                </div>
                            </td>
                        </tr>
						<tr>
                            <!-- 位置情報 -->
                            <th class="active col-sm-2">位置情報</th>
 							<td>
                                <div class="form-group"
                                    th:classappend="${#fields.hasErrors('sensorPos')} ? 'has-error'">
                                    <input type="text" class="form-control"
                                        th:field="*{sensorPos}" />
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('sensorPos')}"
                                        th:errors="*{sensorPos}">
                                        sensorPos error
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!-- センサデータ更新ボタン -->
                    <button class="btn btn-primary" type="submit" name="update">センサデータ更新</button>
                    <!-- センサデータ削除ボタン -->
                    <button class="btn btn-primary" type="submit" name="delete">センサデータ削除</button>
                </form>
            </div>
        </div>
        <!-- 更新・削除処理の結果表示用 -->
        <label class="text-info" th:text="${result}">結果表示</label><br/>
    </div>
</body>
</html>