<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- コンテンツ部分 -->
    <div th:fragment="sensorDataList_contents">
        <div class="page-header">
            <h1>センサデータ一覧</h1>
        </div>
			<h3>検索条件</h3>
			<!-- ユーザー一覧の件数 -->
         <form method="post" th:action="@{/sensorDataList}" th:object="${searchSensorDataForm}">
                    <label class="active col-sm-3">・センサタイプ</label>
                        <div class="form-group"
                            th:classappend="${#fields.hasErrors('sensorType')} ? 'has-error'">
                            <input type="text" placeholder="light" class="form-control"
                                th:field="*{sensorType}" />
                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('sensorType')}"
                            	th:errors="*{sensorType}">
                            	sensorType error
                            </span>
                        </div>

                <!-- タイムスタンプの開始期間入力エリア -->
                    <label class="active col-sm-3">・開始期間 ※必須 </label>
                        <div class="form-group"
                            th:classappend="${#fields.hasErrors('startTimestamp')} ? 'has-error'">
                            <input type="text" placeholder="yyyy-MM-ddTHH:mm:ss" class="form-control"
                                th:field="*{startTimestamp}" />
                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('startTimestamp')}"
                            	th:errors="*{startTimestamp}">
                            	startTimestamp error
                            </span>
                        </div>
                <!-- タイムスタンプの終了期間入力エリア -->
                    <label class="active col-sm-3">・終了期間 ※必須 </label>
                        <div class="form-group"
                            th:classappend="${#fields.hasErrors('endTimestamp')} ? 'has-error'">
                            <input type="text" placeholder="yyyy-MM-ddTHH:mm:ss" class="form-control"
                                th:field="*{endTimestamp}" />
                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('endTimestamp')}"
                            	th:errors="*{endTimestamp}">
                            	endTimestamp error
                            </span>
                        </div>

            <!-- 検索ボタン -->
            <button class="btn btn-primary" type="submit" name="search">検索</button>
       </form>

        <h3>検索結果</h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th class="info col-sm-2">ID</th>
                <th class="info col-sm-2">センサタイプ</th>
                <th class="info col-sm-2">センサデータ</th>
                <th class="info col-sm-2">位置情報</th>
                <th class="info col-sm-2">タイムスタンプ</th>
                <th class="info col-sm-2"></th>
            </tr>
            <tr th:each="sensor : ${sensorDataList}">
                <td th:text="${sensor.id}"></td>
                <td th:text="${sensor.sensorType}"></td>
                <td th:text="${sensor.sensorValue}"></td>
                <td th:text="${sensor.sensorPos}"></td>
                <td th:text="${#dates.format(sensor.timestamp, 'yyyy-MM-dd''T''HH:mm:ss')}"></td>
                <td>
                	<!-- 詳細 -->
                    <a class="btn btn-primary" th:href="@{'/sensorDataDetail/' + ${sensor.id}}">
                        詳細
                    </a>
                </td>
            </tr>
        </table>
        <!-- ユーザー一覧の件数 -->
        <label th:text=" '合計：' + ${sensorDataCount} + '件' "></label><br/>
        <!-- 更新・削除処理の結果表示用 -->
        <label class="text-info" th:text="${result}">結果表示</label><br/>
    </div>
</body>
</html>